<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js"></script>
</head>
<body>
    <header>
        <div class="nav-container">
            <div id="sba">SBA</div>
            <nav class="l-nav">
                <ul>
                    <li><a>home</a></li>
                    <li><a>dashboard</a></li>
                    <li><a>login/signup</a></li>
                </ul>
            </nav>
            <div class="hamburger-menu" onclick="toggleActive()">
                <div class="hamburger"></div>
                <nav class="s-nav">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="index.html">dashboard</a></li>
                        <li><a href="login.html">login/signup</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form>
        <table>
            <tbody>
            <tr>
                <th>Login</th>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" required
                           pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" required
                           pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$"></td>
            </tr>
            </tbody>
        </table>
        <div id="login-select">
            <a href="signup.html">Don't have an account?</a>
            <input id="submit-login" type="submit" value="Log In">
        </div>

    </form>


</body>
</html>